    /* -----------
    ---------- google fonts --------
    -------------- */

/* poppins     */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

    /* inter */

@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

    /* -----------
    ---------- common styles or utilities --------
    -------------- */

body{
    margin: 0;
    padding: 0;
    background-color: #fff;
    font-family: poppins;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    font-size: 52px;
}

h2{
    font-size: 30px;
    font-weight: 700;
    font-family: poppins;
}

h3{
    font-size: 24px;
    font-weight: 700;
    font-family: poppins;
}

a{
    text-decoration: none;
}

.link-button{
    font-size: 16px;
    font-weight: 700;
}
.link-button:hover .icon{
    transform: rotate(60deg);
    transition: transform 2s ease-in-out;
}

/* -----------
    ---------- header's styles  --------
    -------------- */

    header{
        height: 100px;
    }

    .half-width{
        width: 50%;
    }
    
    .brand-name h3 a{
        color: black;
        line-height: 80px;
        margin-left: 30px;
    }

/* -----------
    ---------- top banner's styles  --------
    -------------- */



    .top-banner{
        box-sizing: border-box;
        height: 100vh;
        width: 90%;
        display: flex;
        justify-content: space-between;
    }

    .top-banner p{
        padding-right: 50px;
        font-size: 15px;
        font-weight: 300;
        line-height: 25px;
    }

    .top-banner .link-button{
        background-color: #E02C6D;
        color: white;
        padding: 10px 24px;
        border-radius: 41px;
        line-height: 100px;
    }    

    .top-banner img{
        padding-left: 50px;
        width: 90%;
        height: auto;
        border-radius: 50px;
    }
    


/* -----------
    ---------- famous brands styles  --------
    -------------- */




    
/* -----------
    ---------- popular collection's styles  --------
    -------------- */

.popular-collection h2{
    text-align: center;
}
.card-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 40px;
    box-sizing: border-box;
    padding: 30px 50px;
}

.card{
    box-sizing: border-box;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 1px 1px 20px gray;
}
.card h3{
    line-height: 15px;
}
.card > p, span{
    color: gray;
}
.stars{
    color: orange;
}
.card p{
    line-height: 5px;
}
