    /* -----------
    ---------- google fonts --------
    -------------- */

/* poppins     */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

    /* inter */

@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

    /* -----------
    ---------- common styles or utilities --------
    -------------- */

body{
    margin: 0;
    padding: 0;
    background-color: #fff;
    font-family: poppins;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    font-size: 52px;
}

h2{
    font-size: 30px;
    font-weight: 700;
    font-family: poppins;
}

h3{
    font-size: 24px;
    font-weight: 700;
    font-family: poppins;
}

a{
    text-decoration: none;
}

.link-button{
    font-size: 16px;
    font-weight: 700;
    background-color: #E02C6D;
    color: white;
    padding: 10px 24px;
    border-radius: 41px;
    line-height: 100px;
}
.link-button:hover .icon{
    transform: rotate(60deg);
    transition: transform 2s ease-in-out;
}

/* -----------
    ---------- header's styles  --------
    -------------- */

    header{
        height: 100px;
        width: 100%;
    }

    .half-width{
        width: 50%;
    }
    
    .brand-name h3 a{
        color: black;
        line-height: 80px;
        margin-left: 30px;
    }

/* -----------
    ---------- top banner's styles  --------
    -------------- */



    .top-banner{
        box-sizing: border-box;
        width: 90%;
        display: flex;
        justify-content: space-between;
    }

    .top-banner p{
        padding-right: 50px;
        font-size: 15px;
        font-weight: 300;
        line-height: 25px;
    }
    

    .top-banner img{
        padding-left: 50px;
        width: 90%;
        height: auto;
        border-radius: 50px;
    }
    
  
/* -----------
    ---------- popular collection's styles  --------
    -------------- */

.popular-collection h2{
    text-align: center;
}
.card-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 40px;
    box-sizing: border-box;
    padding: 30px 50px;
}

.card{
    box-sizing: border-box;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 1px 1px 5px gray;
}
.card h3{
    line-height: 15px;
}
.card > p, span{
    color: gray;
}
.stars{
    color: orange;
}
.card p{
    line-height: 5px;
}
.see-more{
    background-color:white;
    color: #E02C6D;
    float: right;
}

/* -----------
    ---------- newslatter's styles  --------
    -------------- */

.newslatter{
    width: 80%;
    height: auto;
}
form{
    display: flex;
    flex-direction: row;
}
form img{
    width: 80%;
    height: auto;
}
.contact{
    margin-top: 5%;
}
label{
    font-size: 20px;
}
input{
    height: 30px;
    width: 40%;
    margin-top: 30px;
    box-sizing: border-box;
    padding: 10px;
}

/* -----------
    ---------- footer's styles  --------
    -------------- */

footer{
    box-sizing: border-box;
    padding-top: 3%;
    text-align: center;
    margin-top: 200px;
    height: 300px;
    width: 100%;
    color: white;
    background-color: rgb(0, 0, 59);
}
footer p{
    color: lightgray;
}
.social-icon{
    height: 100px;
    width: 200px;
    border-radius: 50%;
    font-size: 20px;
    background-color: rgb(54, 54, 54);
    padding: 10px;
    margin-top: 50px;
    margin-right: 20px;
}
.social-icon a{
    color: white;
}


/* -----------
    ---------- media query  --------
    -------------- */

    /* mobile friendly feature  */

    @media only screen and (max-width: 688px) {
        h1{
            font-size: 30px;
        }
        h2{
            font-size: 23px;
        }
        h3{
            font-size: 22px;
        }
        .brand-name{
            width: 100%;
            text-align: center;
        }
        .brand-name h3{
            font-size: 27px;
        }
        main{
            margin-left: 3%;
        }
        .half-width{
            width: 100%;
        }
        .top-banner{
            box-sizing: border-box;
            flex-direction: column;
            width: 100%;
        }
        .top-banner .image-section{
            order: 1;
        }
        .top-banner img{
            padding-left: 30px;
            height: auto;
            width: 80%;
            border-radius: 10px;
        }
        .top-banner .info-section{
            order: 2;
        }
        .card-container{
            display: grid;
            grid-template-columns: repeat(1,1fr);
            width: 80%;
        }
        form{
            display: flex;
            flex-direction: column;
            width: 100%;
        }
        input{
            width: 60%;
        }
        footer{
            width: 100%;
        }
      }

      /* mobile friendly feature  */

    @media only screen and (min-width: 689px) and (max-width: 1312px){
        h1{
            font-size: 40px;
        }
        h2{
            font-size: 30px;
        }
        h3{
            font-size: 25px;
        }
        .brand-name{
            width: 100%;
            text-align: center;
        }
        .brand-name h3{
            font-size: 27px;
        }
        main{
            margin-left: 3%;
        }
        .half-width{
            width: 100%;
        }
        .top-banner{
            box-sizing: border-box;
            flex-direction: column;
            width: 100%;
        }
        .top-banner .image-section{
            order: 1;
        }
        .top-banner img{
            padding-left: 30px;
            height: auto;
            width: 80%;
            border-radius: 10px;
        }
        .top-banner .info-section{
            order: 2;
        }
        .card-container{
            box-sizing: border-box;
            padding: 0px;
            display: grid;
            grid-template-columns: repeat(2,1fr);
            grid-gap: 10px;
            width: 80%;
        }
        form{
            display: flex;
            flex-direction: column;
            width: 100%;
        }
        input{
            width: 60%;
        }
        footer{
            width: 100%;
        }
      }
